@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: caiti;
  src: url(/assets/fonts/caiti.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC+Regular");

@keyframes pulsate {
  0% {
    scale: 1;
    opacity: 1;
  }
  45% {
    scale: 1.15;
    opacity: 0.8;
  }
  55% {
    scale: 1.15;
    opacity: 0.8;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

* {
  user-select: none;
}

@keyframes wiggle-sm {
  0% {
    transform: rotate(4deg);
  }

  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(1.0526315789%) rotate(5deg);
  }

  25% {
    transform: translateY(3.3684210526%) rotate(0deg);
  }
  50% {
    transform: translateY(5.3684210526%) rotate(-5deg);
  }
  75% {
    transform: translateY(3.3684210526%) rotate(0deg);
  }
  100% {
    transform: translateY(9.4210526316%) rotate(5deg);
  }
}

.heart-1 {
  animation: wiggle 10s ease-in-out infinite alternate;
  @apply z-10;
}

.heart-2 {
  animation: wiggle 7s ease-in-out infinite alternate;
  @apply z-10;
}

.heart-3 {
  animation: wiggle 4s ease-in-out infinite alternate;
  @apply z-10;
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* .section-2 > .fp-overflow {
  overflow: visible visible !important;
} */

.fp-watermark {
  @apply hidden;
}

/* .fp-table {
  justify-content: start !important;
} */

.fullpage-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
